body {
  font-size: 8pt;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
}

table tr {
  border: 1px solid silver;
}

table tr td,
table tr th {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  vertical-align: top;
}

table th {
  text-align: left;
}

img,
svg {
  max-height: 10rem;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: navy;
  text-decoration: none;
}

div,
img,
table {
  break-inside: avoid;
  page-break-inside: avoid;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  break-inside: avoid;
  page-break-after: avoid;
}

h2 {
  border-bottom: 1px solid #000000;
}

h3 {
  border-bottom: 1px solid #cccccc;
}

h4 {
  border-bottom: 1px solid #888888;
}
