* {
  box-sizing: border-box;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAAXNSR0IArs4c6QAAACVJREFUGFdj7O/v/88ABR8/foQxGRhJl2hoaIAbxc/PjzCKZAkA9/YYiDOTRbcAAAAASUVORK5CYII=)
    top left;
  font-family: sans-serif;
  background-size: 2rem;
  image-rendering: pixelated;
  overflow-y: auto;
}

.body {
  margin: 1rem;
  padding: 2rem;
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  background: #ccccccdd;
  color: #2b0245;
  border-radius: 1rem;
  line-height: 1.25;
}

.page-end-spacer {
  height: 1px;
  padding: 0;
  margin: 0;
  display: block;
}

@media (max-width: 47rem) {
  .body {
    margin: 0;
    padding: 3rem;
    border-radius: 0;
    max-width: 47rem;
    height: unset;
  }
  .page-end-spacer {
    display: none;
  }
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #000cb3;
}

a:visited {
  color: #000ed6;
}
a:hover {
  color: #424fff;
}

.intro {
  text-align: center;
  font-weight: bold;
}

ul,
ol {
  padding-left: 1em;
}

.wip-overlay {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-30deg);
  color: red;
  font-weight: bold;
  font-size: 5rem;
  white-space: nowrap;
}

table.benchmark {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}
table.benchmark td,
table.benchmark th {
  font-size: 90%;
  padding: 0.25rem;
  border-collapse: collapse;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
table.benchmark tr:nth-child(1) {
  border: 1px solid black;
}
table.benchmark th:not(:nth-child(1)) {
  width: 20%;
}
table.benchmark tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.4);
}
table.benchmark tr:not(:nth-child(1)) th:nth-child(1) {
  text-align: right;
}
table.benchmark td {
  font-family: monospace;
  text-align: right;
}

.body h1 {
  margin-top: 0;
}

.body .image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
